head{
<link rel="stylesheet"    		media="all"		type="text/css" 	href="css/style2.css"   />
   }
body {
    /*background-color: lightblue;*/
    background-image: url("/rose.jpg");
    background-position: right top;
    background-attachment: fixed;
}
h1 {
    color: black;
    text-align: center;
    font-family:Century Schoolbook;
    font-size: 40px;
    
}

p {
    text-align: center;
    color: black;
    font-family:Century Schoolbook;
    font-size: 23px;
}
a {
    color: black;
    padding: 14px 25px;
   font-size:45;
    text-align: center; 
}
ul
{
text-align:center;
color: yellow;
}
