head{
    <link rel="stylesheet"    		media="all"		type="text/css" 	href="css/style.css"   />
   }
body {
    /*background-color: lightblue;*/
    background-image: url("/rose.jpg");
    background-position: right top;
    background-attachment: fixed;
}
h1 {
    color: purple;
    text-align: center;
    font-size: 50px;
    
}
p {
    color: cyan;
    font-family:comic sans ms;
    font-size: 30px;
}
