head{
<link rel="stylesheet"    		media="all"		type="text/css" 	href="css/style.css"   />
   }
body {
    /*background-color: lightblue;*/
    background-image: url("/rose.jpg");
    background-position: right top;
    background-attachment: fixed;
}
h1 {
    color: purple;
    text-align: center;
    font-family:Century Schoolbook;
    font-size: 40px;
    
}
h2{
    color : grey;
    text-align: center;
    font-family: Century Schoolbook;
    font-size: 30px;
}
p {
    text-align: center;
    color: black;
    font-family:Century Schoolbook;
    font-size: 23px;
}
a {
    color: hotpink;
   
}
a:link {
    background-color: yellow;
}
